<html>
    <title>fuck</title>
    <head>
        <script type="text/javascript" src="/static/jquery.js"></script>
        <script type="text/javascript" src="/static/index.js"></script>
    </head>
    <body>
        <form method="post" enctype="multipart/form-data">
            <input type="file" id="picture" name="picture"/>
            <button type="submit" id="submit" name="submit">upload</button>
        </form>
        <div>
            <p id="message"></p>
            <img id='result' src="">
        </div>
    </body>
</html>